body {
    max-width: 100%;
    background-color: green;
    font-size: 16px;color: yellow;}
    @media screen and (max-width:980px) {
        body { background-color: blue;
        }
        h1{color: whitesmoke;}
        p{font-size: 14px;color: whitesmoke;}
    }
    @media screen and (max-width:600px) {
        body { background-color: black;
        }
        h1{color: white;}
        p{font-size: 14px;color: white;}
    }
/* ใช้กับ index.html */
